.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.solutions {
    width: 100%;
    display: flex;
    padding: 80px 0;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
}

.content {
    width: 50%;
}

.content h2 {
    color: #219653;
}

.listItem {
    display: flex;
    align-items: center;
}

.community {
    width: 100%;
    display: flex;
    padding: 80px 0;
}

.community .image {
    margin-left: 30px;
}

.community .btnDiv a {
    background-color: #FFC41F;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
}

.community .btnDiv {
    margin-top: 40px;
}

.videoSection {
    width: 100%;
    text-align: center;
}

.videoSection h2 {
    color: #219653;
    font-size: 40px;
}

.videoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoDiv iframe {
    width: 100%;
    height: 400px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}