.container {
    background-color: #222736;
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    color: white;
    min-height: 30px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    width: 30px;
    height: 30px
}

.brand h2 {
    margin: 0;
    margin-left: 10px;
}

.brand .ers {
    color: #219653;
}

.links ul {
    list-style: none;
    margin: 10px 0;
}

.links ul li {
    margin: 0 10px;
    display: inline
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
}

.links a:hover {
    color: #219653;
}

.btn {
    background-color: #219653;
    padding: 10px !important;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    border: 1px solid #219653;
    background-color: transparent;
    color: white !important;
}