.gallery {
    padding: 40px 0;
}

.listItem {
    display: "flex";
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    list-style: none;
    border: 1px solid #ccc;
}

.listItem img {
    width: 250px;
    height: 350px;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation li {
    list-style: none;
    margin-right: 5px;
}

.navigation button {
    border: none;
    border-radius: 5%;
    font-weight: bold;
    color: #219653;
    border: 1px solid #219653;
    background-color: transparent;
}