.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    padding: 80px 0;
}

.features {
    padding: 40px 0;
}

.features h2 {
    color: #219653;
    font-size: 30px;
    font-weight: bold;
}

.features .list {
    display: flex;
    flex-wrap: wrap;
}

.features .listItem {
    background-color: #219653;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
}

.features .listItem .listIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
}

.features .listDetails {
    font-weight: bold;
    margin-left: 10px;
    color: #fff;
}

.cardDiv {
    background-color: whitesmoke;
    padding: 40px 0;
}

.cardDiv .cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardDiv .cards .card {
    width: 250px;
    margin: 1%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

.card .icon {
    width: 25%;
    height: 35%;
    margin: auto;
    background-color: #219653;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card h2 {
    margin-top: 10px;
    font-weight: bold;
}

.howItWorks {
    display: flex;
    padding: 80px 0;
}

.howItWorks .image {
    width: 50%;
}

.howItWorks .image img {
    width: 80%;
}

.howItWorks .content {
    width: 50%;
}

.howItWorks .content .list span {
    color: #219653;
    margin-right: 10px;
}

.howItWorks .content a {
    color: #219653;
    text-decoration: none;
}

.analysis {
    display: flex;
    padding: 80px 0;
}

.analysis .image {
    width: 50%;
}

.analysis .image img {
    width: 60%;
}

.analysis .content {
    width: 50%;
}

.analysis .content .list span {
    color: #219653;
    margin-right: 10px;
}

.content h2 {
    color: #219653;
    font-weight: bold;
}

@media (max-width: 600px) {
    .cardDiv .cards .card {
        width: 100%;
    }

    .card .icon {
        width: 20%;
        height: 45%;
    }
}

@media only screen and (max-width: 1094px) {
    .howItWorks {
        display: block;
        padding: 80px 0;
    }

    .howItWorks .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .howItWorks .image img {
        width: 50%;
    }

    .howItWorks .content {
        width: 100%;
    }

    .analysis {
        display: block;
    }

    .analysis .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .analysis .image img {
        width: 50%;

    }

    .analysis .content {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}